body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12pt; 
	line-height: 145.8%;
	max-width: 80%;
	margin: 0 auto; 
	padding: 0 15px;
}
a:link {
	text-decoration: none;
	color: #000000;
}
a:hover{
	text-decoration: underline;
}
a:visited {
	text-decoration: none;
	color: #919191;
}
.menu {
	margin: auto;
	position: relative;
	max-width: 600px;
	max-height: 300px;
}