body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12pt; 
}
pre, code, samp {
  font-size: 11pt;
  font-family: Courier, monospace;
}
code, samp {
  background-color: #F5F5F5;
  border-radius: 1%; 
  padding: 1%;
}
pre code, pre samp {
  white-space: pre; 
  background: transparent;
  border: none; 
  padding: 0;
}
pre {
  line-height: 133%; 
  background-color: #F5F5F5;
  border: 1px solid #CCCCCC; 
  border-radius: 1%;
  padding: 2%; 
  overflow: auto;
}
a:link {
  text-decoration: none;
  color: rgb(0,0,143);
}
a:hover{
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
  color: rgb(160,160,255);
}
table {
  border: 3px #CCCCCC solid;
}
th {
  background-color: rgb(212,212,212);
}
td {
  background-color: rgb(237,237,237);
}
.container {
  padding: 0 3%;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  line-height: 142.8%;
}
.button {
  z-index: 9999; 
  position: fixed !important; 
  right: 2%;
  top: 7%;
  text-align: center;
}
.button_01 {
  background: rgba(145,145,145,0.4);
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
}
.menu {
  margin: 5% auto;
  position: relative;
  line-height: 142.8%;
  width: 50%
}
.link {
  width: 30%;
  min-width: 300px;
  line-height: 145.8%;
  margin: 0 auto;
}
.stres { 
  color: #324F58; 
}
.stinp { 
  font-weight: bold; 
  color: #000000; 
}
.stcmd .stcmt { 
  font-style: italic; 
  opacity: 0.5; 
}
.stoom, .stcnp { 
  font-style: italic; 
}
@media screen { 
  .stcnp { 
    display: none; 
  }
}

