body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12pt; line-height: 1.428;
  max-width: 800px;
  margin: 0 auto; padding: 0 auto;
}
pre, code, samp {
  font-size: 11pt;
  font-family: Courier, monospace;
}
code, samp {
  background-color: #F5F5F5;
  border-radius: 3px; padding: 3px;
}
pre code, pre samp {
  white-space: pre; background: transparent;
  border: none; padding: 0;
}
pre {
  line-height: 1.33; background-color: #F5F5F5;
  border: 1px solid #CCCCCC; border-radius: 3px;
  padding: 8px; overflow: auto;
}
.container {
  margin:0 auto;
}
.button {
  z-index: 9999; 
  position: fixed !important; 
  right: 10px;
  top: 20px;
}
.button_in {
  position: absolute;
  width: 260px;
  right: 0px;
  top: 0px;
}
.stres { color: #324F58; }
.stinp { font-weight: bold; color: #000000; }
.stcmd .stcmt { font-style: italic; opacity: 0.5; }
.stoom, .stcnp { font-style: italic; }
@media screen { .stcnp { display: none; }}

