/* 網頁字體設定 */
html {
  font-family:sans-serif; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;
}
body {
  margin:0
}
code, kbd, pre, samp {
  font-family:monospace,monospace; font-size:11pt;
}
h1 {
  font-size: 34px;
  line-height: 130%;
}
h1.title {
  font-size: 38px;
}
h2 {
  font-size: 30px;
  line-height: 130%;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}

/* 圖片 */
img {
  max-width: 100%;
}
img, tr {
  page-break-inside:avoid;
}

/* 代碼塊 */
code, samp {
  padding: 1%; border-radius: 1%;
  background-color: rgba(0,0,0,0.04);
}
pre code, pre samp {
  padding: 0;
  white-space: pre; background: transparent; border: none; 
}
pre {
  overflow: auto; padding: 2%;
  max-height: 800px;
  line-height: 133%;
  background-color: rgba(0,0,0,0.04); border: 1px solid #CCCCCC; border-radius: 1%;
}
pre:not([class]) {
    background-color: white;
}
.stres { 
  color: #324F58; 
}
.stinp { 
  font-weight: bold; color: #000000;
}
.stcmd .stcmt { 
  font-style: italic; opacity: 0.5; 
}
.stoom, .stcnp { 
  font-style: italic; 
}
@media screen { 
  .stcnp { 
    display: none; 
  }
}
.shortcut {
  font-style: italic; font-size: 10pt;
  background-color: rgb(243, 243, 243); color: rgb(85, 85, 85);
}

/* R代碼高亮 */
.hljs-literal {
color: #990073;
}
.hljs-number {
color: #099;
}
.hljs-comment {
color: #998;
font-style: italic;
}
.hljs-keyword {
color: #900;
font-weight: bold;
}
.hljs-string {
color: #d14;
}

/* 連結 */
a:link {
  text-decoration: none; color: rgb(0,0,143);
}
a:hover{
  text-decoration: underline;
}
a:visited {
  text-decoration: none; color: rgb(160,160,255);
}

/* 表格 */
table {
  border: 3px #CCCCCC solid;
}
th {
  background-color: rgb(212,212,212);
}
td {  
  background-color: rgb(237,237,237);
}

/* 主要網頁內容位置 */
.container {
  margin: 0 auto; padding: 13px 3%; 
  width: 95%; max-width: 800px; min-height: 500px;
  line-height: 142.8%;
}

/* home選單 */
.menu {
  margin: 5% auto; position: relative;
  width: 80%; max-width: 1200px; min-width: 300px;
  display: flex; flex-wrap: wrap;
  justify-content: space-around; align-content: center; line-height: 142.8%;
}
.app {
  max-width: 64px; max-height: 84px;
}
.app_icon {
  width: 64px; height: 64px;
}
.app_text {
  max-width: 64px; max-height: 20px;
  text-align: center; 
}

/* 網頁右上按鈕 */
.button {
  width: 70px;
  z-index: 9999; position: fixed !important; right: 2%; top: 3%;
  text-align: center;
  display: flex; flex-wrap: wrap;
}

/* 目錄 */
.link {
  margin: 0 auto;
  width: 30%; min-width: 300px;
  line-height: 145.8%;
}

/* FH4計算欄位 */
.formula {
  max-width: 200px;
  display: flex; flex-wrap: wrap;
}
input {
  max-width: 50px;
}
