@import "./graph.scss";

#tooltip {
  display: none;
  width: 120px;
  padding: 10px 15px;
  font-weight: bold;
  &.active {
    display: flex;
  }
}

.cell:hover {
  stroke-width: 1px;
  stroke: black;
}

.tick {
  opacity: 0.8;
  text {
    transition: 0.4s;
  }
}

@media (max-width: 768px) {
  #x-axis {
    .tick {
      text {
        rotate: -45deg;
        translate: -10px 20px;
      }
    }
  }
}
