.loading2-1,
.loading2-2 {
  --bg: rgb(55, 67, 121);
  position: relative;
  width: 80px;
  aspect-ratio: 1;
  margin: 20px auto;
  overflow: hidden;
  span {
    position: absolute;
    inset: 0;
    rotate: calc(var(--i) * 90deg);
    border-image: linear-gradient(90deg, white, var(--bg)) 1;
    border-top: 4px solid var(--bg);
    transform: translateX(-100%);
    animation-duration: var(--duration);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
.loading2-1 {
  span {
    --duration: 4s;
    animation-name: loading2-1;
    animation-delay: calc(var(--duration) / 4 * var(--i));
  }
}
.loading2-2 {
  span {
    --duration: 2s;
    animation-name: loading2-2;
    animation-delay: calc(var(--duration) / 2 * var(--i));
  }
}
@keyframes loading2-1 {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes loading2-2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
