@charset "UTF-8";
:root {
  --white: 255, 255, 255;
  --gray: 204, 204, 204;
  --black: 0, 0, 0;
  --blue: 55, 67, 121;
  --blue-link: 0, 0, 143;
  --blue-link-visited: 160, 160, 255;
  --red: 148, 0, 0;
  --transparent: 0;
  --translucent: 0.3;
  --code-bg: 0.08;
}

div.largePic div#pic img, div.img-block, div.sidebar, table.order-table th img,
table.order-table td img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

* {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  /* firefox */
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  background: rgba(var(--white), var(--transparent));
}
*::-webkit-scrollbar-thumb {
  background: rgb(var(--gray));
  border-radius: 2.5px;
}
*::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--blue));
}

html {
  font-size: 18px;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: Microsoft JhengHei, sans-serif;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: rgb(var(--blue-link));
}
a:visited {
  color: rgb(var(--blue-link-visited));
}

ul,
ol {
  padding-left: min(10%, 25px);
  margin: 5px auto 20px;
}
ul li,
ol li {
  margin-top: 5px;
}

/*一般頁面*/
.container {
  width: min(100% - 20px, 800px);
  min-width: 270px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 80px 10px;
  box-shadow: 0 0 30px rgba(var(--black), var(--code-bg));
}

/*目錄頁面*/
.content {
  padding-bottom: 20px;
}
.content div {
  margin: 10px auto;
}
.content div a {
  display: block;
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}
.content ul {
  padding-left: 0;
  width: min(100%, 400px);
  list-style-type: none;
}
.content ul li a {
  font-size: 1.1rem;
  display: block;
  padding: 2px 10px;
  font-weight: 600;
  transition: 0.4s;
}
.content ul li a:hover {
  background: rgb(var(--blue));
  color: rgb(var(--white));
  padding-left: 15px;
}
.content ul li ul {
  border-bottom: 1px solid rgb(var(--gray));
  display: none;
}
.content ul li ul li a {
  font-size: 1rem;
  padding-left: 20px;
}
.content ul li ul li:hover {
  background: rgb(var(--blue));
}
.content ul li ul li:hover a {
  color: rgb(var(--white));
  padding-left: 25px;
}

code,
kbd,
pre,
samp {
  font-size: 0.75rem;
}

pre,
code {
  position: relative;
}

code,
samp {
  border-radius: 1px;
  background: rgba(var(--black), var(--code-bg));
}

pre {
  display: block;
  padding: 25px 2px 2px 2px;
  background: rgba(var(--black), var(--code-bg));
  border: 1px solid rgb(var(--gray));
  border-radius: 5px;
  margin: 20px auto;
}
pre#code {
  margin: 0 auto;
  background: rgb(var(--white));
  height: 0;
  width: 0;
  transition: 0.4s;
  overflow: hidden;
  opacity: 0;
}
pre#code.active {
  margin: 20px auto;
  transition: 0.4s;
  height: min(600px, 60vh);
  width: 100%;
  overflow: auto;
  opacity: 1;
}
pre:not([class]) {
  background: rgb(var(--white));
}
pre code,
pre samp {
  background: transparent;
  border: none;
  display: block;
  height: 100%;
  overflow: auto;
  padding: 0px 10px;
  white-space: pre;
}

kbd {
  display: inline-block;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgb(var(--black));
  padding: 0px 4px;
  margin: 2px;
  background: rgba(var(--black), var(--code-bg));
}

img {
  cursor: pointer;
  max-width: 95%;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}

img,
tr {
  page-break-inside: avoid;
}

/*表格*/
table {
  border-collapse: collapse;
  border: 1px solid rgb(var(--gray));
}
table th,
table td {
  padding: 5px 7px;
}
table tr {
  border-bottom: 1px solid rgb(var(--gray));
}
table tr.header, table tr:hover {
  background: rgba(var(--black), var(--code-bg));
}
table tr:nth-child(even) {
  background: rgba(var(--black), var(--code-bg));
}
table.order-table {
  width: calc(100% - 2px);
  text-align: center;
  font-size: 0.6rem;
}
table.order-table thead th {
  position: relative;
}
table.order-table thead th span {
  position: absolute;
  top: 45%;
  margin-left: 5px;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: rgba(var(--black), var(--translucent)) transparent transparent transparent;
  transition: 0.4s;
}
table.order-table thead th .ascend,
table.order-table thead th .descend {
  border-color: rgba(var(--black)) transparent transparent transparent;
}
table.order-table thead th .ascend {
  transform: rotate(180deg);
}
table.order-table tr {
  cursor: pointer;
  background: rgba(var(--white), var(--transparent));
}
table.order-table tr:hover {
  background: rgba(var(--black), var(--code-bg));
}
table.order-table th,
table.order-table td {
  padding: 15px 10px;
  min-width: 50px;
}
/* 輸入框 */
input.table-filter {
  display: block;
  font-size: 1rem;
  border: 1px solid rgb(var(--gray));
  padding: 12px 20px;
  margin: 20px auto 0px;
}

.stres {
  color: #324f58;
}

.stinp {
  font-weight: bold;
  color: black;
}

.stcmd .stcmt {
  opacity: 0.5;
}

.stoom,
.stcnp,
.stcmd .stcmt {
  font-style: italic;
}

/* R代碼高亮 */
.hljs-literal {
  color: #990073;
}

.hljs-number {
  color: #009999;
}

.hljs-comment {
  color: #999988;
  font-style: italic;
}

.hljs-keyword {
  color: #990000;
  font-weight: bold;
}

.hljs-string {
  color: #dd1144;
}

/* 一鍵複製代碼 */
.copy {
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 2px;
  background: rgba(0, 0, 0, 0.4);
  width: 15px;
  height: 18px;
  border-radius: 15%;
  border: rgb(var(--white)) solid 0.5px;
  box-shadow: -2px -2px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy::before, .copy::after {
  content: "";
  position: absolute;
  background: rgb(var(--white));
  width: 78%;
  height: 2px;
}
.copy::before {
  transform: translateY(-5px);
  box-shadow: 0 5px 0 rgb(var(--white));
}
.copy::after {
  transform: translateY(5px);
}
.copy:hover {
  background: rgb(var(--black));
  box-shadow: -2px -2px 0 rgb(var(--black));
}
.copy:active {
  box-shadow: -1px -1px 0 rgb(var(--black));
}

.page {
  position: relative;
}
.page span {
  position: absolute;
  right: 10px;
  top: 45%;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: rgb(var(--blue)) transparent transparent transparent;
  transition: 0.4s;
}
.page span.active {
  transform: rotate(180deg);
}
.page:hover {
  background: rgb(var(--blue));
  color: rgb(var(--white));
}
.page:hover span {
  border-color: rgb(var(--white)) transparent transparent transparent;
}

.tags {
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.tags li,
.tags div.active {
  transition: 0.4s;
}
.tags li {
  position: relative;
  z-index: 1;
  display: block;
  text-align: center;
  box-shadow: inset 0 0px 1px black;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.tags div.active {
  position: absolute;
  height: 100%;
  background: rgba(var(--black), var(--code-bg));
  box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.1);
  left: 0;
}

div.block {
  padding-top: 20px;
  padding-bottom: 40px;
  width: 100%;
}
div.switchBox {
  position: relative;
  width: clamp(300px, 100%, 1000px);
  overflow: hidden;
}
div.switchBox .switch {
  position: relative;
  display: flex;
  flex-direction: row;
  height: max(70vh, 600px);
  background: rgba(var(--black), var(--code-bg));
  transition: 0.4s;
}
div.switchBox .switch::before, div.switchBox .switch::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 20px;
}
div.switchBox .switch::before {
  background: linear-gradient(rgb(var(--white)), rgba(var(--white), var(--transparent)));
}
div.switchBox .switch::after {
  background: linear-gradient(rgba(var(--white), var(--transparent)), rgb(var(--white)));
  bottom: 0;
}
div.switchBox .switch div {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10px 20px;
}
div.sidebar {
  /* 網頁左側目錄 */
  position: fixed;
  z-index: 9997;
  padding-top: 40px;
  padding-bottom: 200px;
  top: 0px;
  left: max(-400px, -100%);
  width: min(400px, 100%);
  height: calc(100% - 200px);
  transition: 0.4s;
  overflow: auto;
}
div.sidebar {
  background: rgb(var(--white));
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  div.sidebar {
    background: rgba(var(--white), var(--translucent));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }
}
div.sidebar.show {
  left: 0;
  box-shadow: 0px 0px 9px rgb(var(--black));
}
div.sidebar div {
  font-size: 1.1rem;
  letter-spacing: 2px;
  line-height: 65px;
  font-weight: 600;
  text-align: center;
}
div.sidebar ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
}
div.sidebar ul li {
  min-height: 60px;
  margin: 0;
  line-height: 60px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 600;
}
div.sidebar ul li a {
  display: block;
  text-decoration: none;
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  font-size: 1rem;
}
div.sidebar ul li a b {
  margin-right: 30px;
}
div.sidebar ul li ul {
  position: static;
  display: none;
}
div.sidebar ul li ul li {
  min-height: 42px;
  line-height: 42px;
  border-bottom: none;
}
div.sidebar ul li ul li a {
  font-size: 0.8rem;
  padding-left: 15%;
  width: 85%;
}
div.sidebar ul li ul li:hover {
  background: rgb(var(--blue));
}
div.sidebar ul li ul li:hover a {
  color: rgb(var(--white));
}
div#top {
  /* 網頁上端選單 */
  position: fixed;
  z-index: 9998;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 38px;
  box-shadow: 0px 0px 5px rgb(var(--black));
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div#top {
  background: rgb(var(--white));
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  div#top {
    background: rgba(var(--white), var(--translucent));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }
}
div#top div {
  position: relative;
  cursor: pointer;
  width: 38px;
  height: 38px;
  background: rgb(var(--blue));
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#top div:hover {
  background: rgb(var(--white));
  transition: 0.2s;
}
div#top div#sidebarBtn:hover::before, div#top div#sidebarBtn:hover::after {
  background: rgb(var(--blue));
}
div#top div#sidebarBtn:hover::before {
  box-shadow: 0 10px 0 rgb(var(--blue));
}
div#top div#sidebarBtn::before, div#top div#sidebarBtn::after {
  content: "";
  position: absolute;
  background: rgb(var(--white));
  transition: 0.2s;
  width: 76%;
  height: 3px;
  border-radius: 1.5px;
}
div#top div#sidebarBtn::before {
  transform: translateY(-10px);
  box-shadow: 0 10px 0 rgb(var(--white));
}
div#top div#sidebarBtn::after {
  transform: translateY(10px);
}
div#top div#sidebarBtn.active {
  background: rgb(var(--red));
}
div#top div#sidebarBtn.active::before {
  transform: translateY(0) rotate(45deg);
  box-shadow: 0 0 0 rgb(var(--white));
}
div#top div#sidebarBtn.active::after {
  transform: translateY(0) rotate(-45deg);
}
div#top div#sidebarBtn.active:hover {
  background: rgb(var(--white));
}
div#top div#sidebarBtn.active:hover::before, div#top div#sidebarBtn.active:hover::after {
  background: rgb(var(--red));
}
div#top div#sidebarBtn.active:hover::before {
  box-shadow: 0 0 0 rgb(var(--red));
}
div#home {
  position: relative;
  width: 38px;
  height: 38px;
  background: rgb(var(--blue));
  display: flex;
  justify-content: center;
  align-items: center;
}
div#home a {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}
div#home::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0px 12px 12px 12px;
  border-color: transparent transparent rgb(var(--white)) transparent;
  transform: translateY(-5px);
}
div#home::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background: rgb(var(--white));
  transform: translateY(5px);
}
div#home:hover {
  background: rgb(var(--white));
}
div#home:hover::before {
  border-color: transparent transparent rgb(var(--blue)) transparent;
}
div#home:hover::after {
  background: rgb(var(--blue));
}
div#showCode {
  cursor: pointer;
  font-size: 0.8rem;
  background: rgb(var(--blue));
  color: rgb(var(--white));
  text-align: center;
  width: clamp(90px, 90px, 50%);
  height: 30px;
  line-height: 30px;
  border: 1px solid rgb(var(--white));
  border-radius: 10px;
  transition: 0.2s;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
}
div#showCode:hover {
  background: rgb(var(--white));
  color: rgb(var(--blue));
  border-color: rgb(var(--blue));
  transition: 0.2s;
  font-weight: 600;
}
div#showCode:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
div.homePage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div.homePage div {
  width: 100%;
}
div.homePage div .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: clamp(150px, 80%, 80vh);
  height: 30vh;
  margin: 0 auto;
}
div.homePage div .menu div {
  width: 75px;
  height: 95px;
  border-radius: 10px;
  margin: 10px;
}
div.homePage div .menu div a img {
  width: 100%;
  display: block;
}
div.homePage div .menu div a p {
  text-align: center;
  margin: 0 auto;
}
div.homePage div .menu div:hover {
  background: rgba(0, 0, 0, 0.08);
}
div#plate {
  position: fixed;
  z-index: 9997;
  width: 40px;
  top: 50%;
  right: -5px;
}
div#plate div {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(55, 67, 121, 0.5);
  margin: 1px 5px;
  border-radius: 15%;
  transition: 0.4s;
}
div#plate div a {
  color: rgba(255, 255, 255, 0.5);
}
div#plate div a.mail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 55%;
  border-radius: 10%/20%;
  background: rgba(255, 255, 255, 0.5);
}
div#plate div a.mail::before, div#plate div a.mail::after {
  content: "";
  position: absolute;
  width: 32%;
  height: 3px;
  border-radius: 7%/50%;
  background: rgba(55, 67, 121, 0.5);
  top: 10px;
}
div#plate div a.mail::before {
  transform: translateX(-5px) rotate(35deg);
}
div#plate div a.mail::after {
  transform: translateX(5px) rotate(325deg);
}
div#plate div:hover {
  margin-left: 0;
  background-color: rgb(var(--blue));
  transition: 0.4s;
  box-shadow: rgba(55, 67, 121, 0.5) 0 0 10px;
}
div#plate div:hover a {
  color: rgb(var(--white));
}
div#plate div:hover a.mail {
  background: rgb(var(--white));
}
div#plate div:hover a.mail::before, div#plate div:hover a.mail::after {
  background: rgb(var(--blue));
}
div#sumObj {
  /* FH4 總結 */
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
div#sumObj div {
  position: relative;
  width: max(280px, 50% - 52px);
  margin: 10px;
  padding: 15px;
  box-shadow: 10px 10px 20px rgba(var(--black), var(--translucent));
  border-radius: 10%;
  border-top: 1px solid rgb(var(--blue));
  border-left: 1px solid rgb(var(--blue));
  backdrop-filter: blur(5px);
}
div#calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div#calculator table {
  cursor: pointer;
}
div#calculator table input {
  position: static;
  max-width: 70px;
}
div#calculator table th {
  background-color: #ededed;
}
div.img-block {
  background: rgba(var(--white), var(--transparent));
  box-sizing: border-box;
  width: 100%;
}
div.img-block img {
  display: block;
  margin: 0 auto;
}
div.largePic {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--black), var(--translucent));
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
div.largePic div#pic {
  width: 90%;
}
div.largePic div#pic img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
div.largePic div#pic, div.largePic {
  opacity: 0;
  transition: 0.4s;
}
div.largePic.active {
  z-index: 10000;
  backdrop-filter: blur(2px);
}
div.largePic.active div#pic, div.largePic.active {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
