pre {
  position: relative;
  code {
    --scrollBar-w: 2px;
    --scrollBar-bg: var(--primary-300);
    display: block;
    overflow: auto;
    max-height: min(60dvh, 400px);
    &::-webkit-scrollbar {
      width: var(--scrollBar-w);
    }
    &::-webkit-scrollbar-track {
      background: var(--white);
    }
    &::-webkit-scrollbar-thumb {
      width: var(--scrollBar-w);
      border-radius: calc(var(--scrollBar-w) / 2);
      background: var(--scrollBar-bg);
    }
    &:hover {
      --scrollBar-bg: var(--primary-600);
    }
  }
}
code {
  padding: 0 var(--unit-1);
}
pre,
code {
  background: var(--code-bg);
}
code[class*="language-"],
pre[class*="language-"] {
  font-size: 0.8rem;
}
pre[class*="language-"] {
  padding-top: var(--unit-4);
}
pre.language-output {
  background: var(--gray-0);
  border: 1px solid var(--code-bg);
}
.copyBtn {
  cursor: pointer;
  --m: 4px;
  --w: 20px;
  display: block;
  position: absolute;
  transition: opacity var(--time), transform var(--time);
  opacity: 0.3;
  top: var(--m);
  right: var(--m);
  width: var(--w);
  height: var(--w);
  svg {
    stroke: var(--code-copy);
  }
  &:hover,
  &:focus {
    opacity: 1;
  }
  &::before {
    transition: inherit;
    content: "copied!";
    position: absolute;
    display: block;
    width: max-content;
    height: var(--w);
    opacity: 0;
    transform: scale(0);
  }
  &.active::before {
    opacity: 1;
    transform: scale(1) translateX(-110%);
  }
}
