.image-normal {
  width: min(100%, 600px);
}
.imgBlock {
  img {
    position: relative;
    transform-origin: 0 0;
    transition: transform var(--time);
    transition-timing-function: ease-in-out;
    cursor: zoom-in;
  }
  &::before {
    content: "";
    position: fixed;
    display: block;
    z-index: -1;
    transition: opacity var(--time);
    opacity: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100dvh;
    background: var(--white);
  }
  &.active {
    img {
      object-fit: contain;
      z-index: calc(index($z-index, model) + 1);
      cursor: zoom-out;
    }
    &::before {
      z-index: index($z-index, model);
      opacity: 0.8;
    }
  }
}
