.index {
  ul {
    list-style-type: none;
  }
  a {
    border-color: transparent;
    &,
    &::before,
    &::after {
      transition: var(--time);
      display: block;
      border-width: 1px;
      border-style: solid;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      opacity: 0;
    }
    &::before {
      border-color: var(--primary) transparent var(--primary) transparent;
    }
    &::after {
      border-color: transparent var(--primary) transparent var(--primary);
    }
    &:hover,
    &:focus {
      border-color: var(--primary-300);
      &::before,
      &::after {
        opacity: 0.5;
      }
      &::before {
        inset: var(--unit-1) var(--unit-0);
      }
      &::after {
        inset: var(--unit-0) var(--unit-1);
      }
    }
  }
}
