.portfolio {
  transition: transform var(--time);
  &:hover,
  &:focus {
    transform: scale(var(--scale));
    .tags {
      opacity: 1;
    }
  }
}
.portfolioThumb {
  position: relative;
  .tags {
    position: absolute;
    display: flex;
    align-items: end;
    padding: var(--unit-1);
    transition: opacity var(--time);
    inset: 0;
    background: var(--black-600);
    opacity: 0;
  }
  .tag {
    background: var(--white-600);
    color: var(--black);
  }
}
