$font-size-base: 16px;
$font-size: (
  "xx-large": 1.5 * $font-size-base,
  "x-large": 1.2 * $font-size-base,
  "large": 1.08 * $font-size-base,
  "medium": 1 * $font-size-base,
  "small": 0.8 * $font-size-base,
);
$index: (tools, tags, sidebar);

:root {
  --fp-sidebar-bg: #f1f1f1;
  --fp-search-bg: #ffffff;
  --fp-hover-bg: #e5e5e5;
  --fp-black: #000000;
  --fp-unactive: #acacac;
  --fp-active: rgb(128, 0, 75, 0.2);
  --fp-over: #acacac;
  --fp-main: #000080;
  --fp-time: 0.4s;
  --fp-search-box-height: 56px;
  --fp-sidebar-px: 5px;
  --fp-icon-size: 30px;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

@each $key, $value in $font-size {
  .text-#{$key} {
    font-size: #{$value};
  }
}

@each $value in (flex, block) {
  .d-#{$value} {
    display: #{$value};
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

@each $key, $value in (align-items: center, justify-content: center) {
  .#{$key}-#{$value} {
    #{$key}: #{$value};
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
@each $key, $value in (p: padding, m: margin) {
  @for $i from 1 through 5 {
    .#{$key}-#{$i} {
      #{$value}: calc($i * var(--fp-sidebar-px));
    }
    .#{$key}x-#{$i} {
      #{$value}-left: calc($i * var(--fp-sidebar-px));
      #{$value}-right: calc($i * var(--fp-sidebar-px));
    }
    .#{$key}y-#{$i} {
      #{$value}-top: calc($i * var(--fp-sidebar-px));
      #{$value}-bottom: calc($i * var(--fp-sidebar-px));
    }
    .#{$key}t-#{$i} {
      #{$value}-top: calc($i * var(--fp-sidebar-px));
    }
    .#{$key}b-#{$i} {
      #{$value}-bottom: calc($i * var(--fp-sidebar-px));
    }
  }
}

.shadow {
  box-shadow: 0 0 var(--fp-sidebar-px) var(--fp-unactive);
}

* {
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: $font-size-base;
  position: relative;
}

p {
  margin: 0;
}

.fp-main {
  width: 100%;
  background-color: var(--fp-sidebar-bg);
}

.fp-sidebar {
  height: 100dvh;
  width: 300px;
  top: 0;
  left: 0;
  background-color: var(--fp-sidebar-bg);
  position: fixed;
  z-index: index($list: $index, $value: sidebar);
  overflow: hidden;
  transform: translateX(calc(-100% + var(--sidebar-width)));
  transition: transform var(--fp-time);
}
.fp-search {
  flex-wrap: nowrap;
  min-height: var(--fp-search-box-height);
  background-color: var(--fp-search-bg);
  .fp-toggle:not(.active) {
    opacity: 0;
    cursor: default;
  }
}
.fp-input {
  width: calc(100% - var(--fp-icon-size) * 2);
  height: var(--fp-search-box-height);
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2px;
  padding-bottom: 2px;
}
.fp-input-tag {
  cursor: pointer;
  background-color: var(--cat);
  padding: 2px 5px;
  border-radius: 5px;
  transition: filter var(--fp-time);
  float: left;
  filter: opacity(0.8);
  &:hover {
    filter: opacity(1);
  }
}
.fp-input-text {
  padding: 0;
  flex-grow: 1;
  width: 100%;
  &,
  &:focus,
  &:focus-visible {
    outline: none;
    border: none;
  }
}

@media (max-width: 768px) {
  .fp-sidebar {
    width: 100%;
    transform: translate(0, 0);
    top: var(--sidebar-width);
    transition: top var(--fp-time);
  }
}
.fp-advanced {
  inset: calc(var(--fp-search-box-height) + var(--fp-sidebar-px)) 0 0 0;
  overflow-y: auto;
}

.fp-info {
  height: 100%;
  overflow-y: auto;
}

.fp-booth-info {
  inset: 0;
}
.fp-info {
  height: calc(100% - var(--fp-search-box-height));
}
.fp-booth-info-name {
  width: calc(100% - var(--fp-icon-size));
}

.fp-booth-tags {
  gap: 5px;
}

.fp-advanced,
.fp-booth-info {
  position: absolute;
  z-index: 1;
  background-color: var(--fp-search-bg);
  transition: transform var(--fp-time);
  transform: translateX(-100%);
  &.active {
    transform: translateX(0);
  }
}

.fp-graph {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  text {
    cursor: inherit;
  }
}

.fp-floormap {
  position: relative;
  justify-content: flex-end;
  padding-top: var(--tags-height);
  padding-left: var(--sidebar-width);
  width: 100%;
  height: 100vh;
  -webkit-user-select: none; /* Safari */
  user-select: none; /* Standard syntax */
}

.fp-viewBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#floormap {
  touch-action: manipulation;
  &.moving {
    cursor: move;
  }
}

@media (max-width: 768px) {
  .fp-floormap {
    padding-left: 0;
  }
}

.fp-filter {
  cursor: pointer;
  width: var(--fp-icon-size);
  height: var(--fp-search-box-height);
  background-color: var(--fp-search-bg);
  --color: var(--fp-unactive);
  &:hover {
    --color: var(--fp-black);
  }
  &.active {
    background-color: var(--fp-black);
    svg {
      transition: background-color var(--fp-time);
      background-color: var(--fp-black);
    }
    --color: var(--fp-search-bg);
  }
  use {
    transition: fill var(--fp-time);
    stroke-width: 0;
    fill: var(--color);
  }
}

.fp-toggle {
  cursor: pointer;
  width: var(--fp-icon-size);
  height: var(--fp-search-box-height);
  padding: 5px;
  --color: var(--fp-unactive);
  &:hover {
    --color: var(--fp-black);
  }
  span {
    position: relative;
    width: 80%;
    &::before {
      --i: -1;
    }
    &::after {
      --i: 1;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      top: calc(var(--i) * 5px);
      transition: background-color var(--fp-time);
    }
    &,
    &::before,
    &::after {
      display: block;
      height: 2px;
      border-radius: 2px;
      background-color: var(--color);
    }
  }
  &.active {
    span {
      background-color: var(--fp-search-bg);
      &::before,
      &::after {
        top: 0;
        transform: rotate(calc(var(--i) * 45deg));
      }
    }
  }
}

.fp-tags {
  position: absolute;
  z-index: index($list: $index, $value: tags);
  top: 0;
  right: 0;
  width: calc(100% - var(--sidebar-width));
  height: var(--tags-height);
  background-color: var(--fp-search-bg);
  transition: width var(--fp-time);
}

@media (max-width: 768px) {
  .fp-tags {
    width: 100%;
  }
}

.booth {
  &:hover {
    path,
    text {
      fill-opacity: 1;
    }
  }
}
.fp-result {
  margin-top: var(--fp-sidebar-px);
  height: calc(100dvh - var(--fp-sidebar-px) - var(--fp-search-box-height));
  overflow-y: auto;
  position: relative;
}

.fp-result-item,
.fp-info-item {
  cursor: pointer;
  margin-top: 2px;
  background-color: var(--fp-search-bg);
  width: 100%;
  min-height: var(--fp-search-box-height);
  position: relative;
  --loc-width: 90px;
  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: var(--fp-sidebar-px);
    height: 100%;
    background-color: var(--cat);
  }
  &:hover {
    background-color: var(--fp-hover-bg);
  }
}

.fp-result-item-name {
  flex-grow: 1;
}
.fp-result-item-loc {
  text-align: right;
  flex-basis: var(--loc-width);
}

.fp-download {
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--fp-sidebar-bg);
  width: 90%;
}
.fp-category {
  cursor: pointer;
  &:hover {
    background-color: var(--fp-hover-bg);
  }
}
.fp-zoom,
.fp-select-lang,
.fp-select-floor {
  position: absolute;
  z-index: index($list: $index, $value: tools);
  label {
    display: block;
  }
  span {
    cursor: pointer;
    background-color: var(--fp-search-bg);
  }
  input {
    display: none;
    & + span {
      width: var(--fp-icon-size);
      height: var(--fp-icon-size);
      transition: background-color var(--fp-time);
    }
    &:checked + span {
      background-color: var(--fp-sidebar-bg);
    }
  }
}

.fp-select-lang,
.fp-select-floor {
  right: 10px;
}
.fp-zoom,
.fp-select-floor {
  top: calc(var(--tags-height) + 10px);
  display: grid;
  grid-template-columns: var(--fp-icon-size);
  grid-template-rows: var(--fp-icon-size) var(--fp-icon-size);
}
.fp-select-lang {
  top: calc(var(--tags-height) + 20px + var(--fp-icon-size) * 2);
}
.fp-zoom {
  transition: left var(--fp-time);
  left: calc(var(--sidebar-width) + 10px);
  gap: 10px;
}

@media (max-width: 768px) {
  .fp-zoom {
    left: 10px;
  }
}
.fp-event {
  --event: var(--fp-sidebar-bg);
  background-color: var(--event);
  &.active {
    --event: var(--fp-active);
  }
}
