.switch2 {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  box-shadow: 0 0 4px rgb(0 0 0 / 0.5);
  .prev,
  .next {
    position: absolute;
    z-index: 2;
    top: 0;
    display: block;
    width: 25%;
    height: 100%;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-width: 15px;
      border-style: solid;
      transition: 0.4s;
      opacity: 0;
      filter: blur(4px);
    }
    &:hover {
      &::before {
        opacity: 0.7;
        filter: blur(0);
      }
    }
  }
  .prev {
    left: 0;
    &::before {
      left: 0;
      border-color: transparent var(--gray) transparent transparent;
    }
  }
  .next {
    right: 0;
    &::before {
      right: 0;
      border-color: transparent transparent transparent var(--gray);
    }
  }
}
.images-container {
  --play-state: paused;
  --time: 0.4s;
  position: relative;
  width: 100%;
  height: 100%;
}
.img-cells {
  position: relative;
  width: 100%;
  height: 100%;
  &:not(.active) {
    position: absolute;
    top: 0;
    left: 0;
    .img-cell {
      opacity: 0;
      z-index: 0;
    }
  }
  &.active {
    .img-cell {
      animation-name: float;
      animation-fill-mode: forwards;
      animation-duration: var(--time);
      animation-delay: calc(var(--delay) * var(--i));
      animation-play-state: var(--play-state);
    }
  }
}
.img-cell {
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  z-index: 1;
  transition: opacity var(--time) ease-in-out;
  transition-delay: calc(var(--delay) * var(--i));
}

@keyframes float {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
